<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>my-web-app</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListMovie</display-name>
    <servlet-name>ListMovie</servlet-name>
    <servlet-class>com.ajayghimire.ListMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMovie</servlet-name>
    <url-pattern>/ListMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IMDBMoviesServlet</servlet-name>
    <servlet-class>com.ajayghimire.imdbMovies.IMDBMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IMDBMoviesServlet</servlet-name>
    <url-pattern>/movies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IMDBSavedMoviesServlet</display-name>
    <servlet-name>IMDBSavedMoviesServlet</servlet-name>
    <servlet-class>com.ajayghimire.imdbMovies.IMDBSavedMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IMDBSavedMoviesServlet</servlet-name>
    <url-pattern>/favourites</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
</web-app>